<div class="container">
	<div class="row title">
		<div class="col-md-9 col-md-offset-1">

			<div class="row-content">
			    <h3><b>Title:</b> {{selectedArticle.title}}</h3>
			    <h4><b>Abstract:</b> {{selectedArticle.abstract}}</h4>
			    <h4><b>Keywords:</b> {{selectedArticle.keywords}}</h4>
			    <h4><b>Authors:</b> {{selectedArticle.authors}}</h4>
			    <h4><b>Pubmed ID:</b> <a ng-href="http://www.ncbi.nlm.nih.gov/pubmed/?term={{selectedArticle.id}}">{{selectedArticle.id}}</h4>
			</div>

		</div>
	</div>	
</div>